@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    position: relative;
    background: #bda066;
}

</Style>
{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
#menu-h ul {
    list-style: none;
    padding: 0;
    background-color: rgb(10, 10, 10);
}
#menu-h ul li {
    display: inline;
}
#menu-h ul li a{
    color: rgb(253, 253, 253);
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .6s;
}
#menu-h  li a:hover {
    background-color: chocolate;
}
#menu-h ul li:last-child a {
    float: right;
    background-color: #6766bd;
}
